@model Ksiazki

<tr>
    <td scope="row">@Model.Tytul</td>
    <td scope="row">@Model.Autor</td>
    <td scope="row"> @Model.Categoria.Nazwa</td>
    <td scope="row">
        @(Model.CzyDostepna ? "Dostępna" : "Niedostępna")

        <form asp-action="Delete" method="post">
            <a asp-action="Edit" class="btn btn-sm btn-warning"
               asp-route-ksiazkaId="@Model.KsiazkaID">Edytuj</a>  @*asp-route-"tutaj deklarujemy zmienna ktora bedzie wysylana do controlera"*@
            <input type="hidden" name="ksiazkaId" value="@Model.KsiazkaID" />
            <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
        </form>

    </td>
</tr>

